body{
    color:  #0DEC1C;
    background-color: #531F30;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 8px;
    
}
a {
    color:  #0DEC1C;
    text-decoration: none;
    
}
.content img{
    width: 400px;
    height: 270px;
    border: 5px solid rgb(39, 82, 65);
    

}
.header{
    background-color: #31121C;
    text-align: center;
}
.content{
    text-align: center;
    background-color: rgb(39, 82, 65) ;
    border: solid  #120a0a;
}
section{
    text-align: center
}
section img{
    width: 400px;
    height: 240px;
    border-radius: 50%;
}
.footer ul{
    list-style-type: circle;
    background: #120a0a;
   color:#0DEC1C;
  padding: 5px;
  margin-left: 35px;
}
.footer h2{
    text-align: center;
}

@media(max-width: 800px){
    body{
        color: #0DEC1C;
        background-color: #531F30
    }

    .nav ul{
        display: flex;
        flex-direction: column;
        display: column;
        text-align: center;
        padding: 4px;
        width:100%
        
    }

    section img{
        width: 80%;
        height: 100%;
        border-radius: 10%;
        
    }
    
    .content{
        display: flex;
        text-align: justify;
        width: 100%;
        height: 100%;
        border: solid #120a0a;
        
    }

    .content hr{
        display: none;
    }

    section p{
        text-align: justify;
        margin: 0 auto;
        width: 100%;

    }

    .footer{
        text-align: justify;
        margin: 0 auto;
        width: 100%;
        list-style-position: center;
    }
}